html, body { 
  background: #000000; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navBar a {
	float: left;
	color: olive;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}

.navBar a:hover {
     color: Olive;
     font-style: italic;
}

.name {
	color: olive;
	text-align: center;
}


.img-circle {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.quote {
	color: olive;
	text-align: center;
	font-style: italic;
	padding-bottom: 150px;
}

 .copyright {
	color: white;
}

.social {
	color: white;
}