html, body {
  width: 100%;
  height: 100%;
  background-color: #000000;
 }

h2 {
	color: olive;
	text-align: center;
}

h3 {
	color: #8f9171;
	text-align: center;
}

.resume {
	padding: 50px 250px 50px 350px;
}

.edName{
	text-align: center;
	color:olive;
}

.navBar a {
	float: left;
	color: olive;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}

.navBar a:hover {
     color: Olive;
     font-style: italic;
}

.copyright {
	color:white;
}

