<html>
	<head>
		<meta charset="utf-8">
		 <link class="imgs" rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/royal-crowns/512/royal-alphabet-crown-letter-english-q-512.png">
		<title>Quinneisha</title>
		<link rel="stylesheet" href="../css/about.css">
	</head>
	<body>
		<header>
				<h1 class="name" >Quinneisha Brooks</h1>
				<hr align="center" width="50%" color="olive">
			<div class="navBar">
				<a href="../index.html">Home</a>
				<a href="Education.html">Education</a>
				<a href="#">About Me</a>
				<a href="Contact.html">Contact</a>
				<a href="Achievements.html">Achievements</a>
			</div>
			<br/>
			<br/>
			<br/>
				<div>
				<img class="img-circle" src="../img/vega.jpg" width="200" height="200" >
				</div>
				<p class="about"><b class="attn">H</b>ello,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;my name is Quinneisha Brooks. I am a 23 year old woman from Jacksonville, Florida. As the oldest of 5 younger siblings, I know a lot about responsiblity.
				I work hard to model for my siblings what great things can take place when actions are put behind words.
				I have a passion for learning and I believe that anything is possible with the right mindset.
				I also believe that it is important to be well-rounded, meaning, it is important not to limit yourself to one goal, learning about one subject, or being content with one interest.</br>
				</br>
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I encourage people to try new things and to get out of their comfort zones.
				This is the best way to realize what is and what isn't for you as an individual. Throughout my four years of attending college, I changed my major multiple times, figuiring out what was and was not for me.
				It is important to learn how to spot the current before going in for a swim. </br>
				</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Furthermore, some random facts about me are that I love music, I enjoy writing songs to express myself, I believe the universe works mentally, and I enjoy teaching conversational Spanish to my siblings. I also enjoy watching movies, but I'm very critical of their content and I think all endings are predicatable and in need of my help (haha, who do I think I am?). <br/>
				
				</p>
		</header>
		<br/>
		<br/>
		<br/>
		<footer>
			<span>
			</br>
			<p class="copyright">&copy; 2017 Quinneisha Brooks</p>
			</span>
		</footer>
	</body>
</html>
