<html>
	<head>
		<meta charset="utf-8">
		<title>Quinneisha</title>
		<link rel="stylesheet" href="../css/achievements.css">
	</head>
	<body>
		<header>
				<h1 class="name" >Quinneisha Brooks</h1>
				<hr align="center" width="50%" color="olive">
			<div class="navBar">
				<a href="../index.html">Home</a>
				<a href="Education.html">Education</a>
				<a href="About.html">About</a>
				<a href="Contact.html">Contact</a>
				<a href="#">Achievements</a>
			</div>
			<br/>
			<br/>
			<br/>
			<span>
				<h1> A C H I E V E M E N T S</h1>
			</span>
			<span>
				<h3>Youth of the Year,  2012: </h3>
				<img class="img-circle" src="../img/YOY.jpg" width="400" height="300" >
				<h5>Recognized as an outstanding youth on Dover Air Force Base for volunteering over 500 hours</h5>
				<hr align="center" width="50%" color="olive">
				<h3>Dr. Pepper $100,000 Tuition Finalist, 2013:</h3>
				<center><img class="img-circle" src="../img/handsintheair.jpg" width="400" height="300" ></center>
				<h5>Selected to compete against other students for a chance to win $100,000. I was flown to Atlanta, Georgia for a chance of a lifetime. I received a $7,500 scholarship.</h5>
				<hr align="center" width="50%" color="olive">
				<h3>Dean's List, Fall 2013 & 2015:</h3> 
				<img class="img-circle" src="../img/gpa.png" width="400" height="300" >
				<h5>Received recognition for 3.8 gpa during sophomore and senior year at the University of Delaware<h5>
			</span>
		</header>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<footer>
			<span>
			</br>
			</br>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<p class="copyright">&copy; 2017 Quinneisha Brooks</p>
			</span>
		</footer>
	</body>
</html>