<html>
	<head>
		<meta charset="utf-8">
		 <link class="imgs" rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/royal-crowns/512/royal-alphabet-crown-letter-english-q-512.png">
		<title>Quinneisha</title>
		<link rel="stylesheet" href="../css/contact.css">
	</head>
	<body>
		<header>
				<h1 class="name" >Quinneisha Brooks</h1>
				<hr align="center" width="50%" color="olive">
			<div class="navBar">
				<a href="../index.html">Home</a>
				<a href="Education.html">Education</a>
				<a href="About.html">About</a>
				<a href="#">Contact</a>
				<a href="Achievements.html">Achievements</a>
			</div>
			<br/>
			<br/>
			<br/>
			<span>
				<h1> C O N T A C T • M E</h1>
				<p>Cell Phone: (904) 553 - 1586 </p>
				<p>Email: quinneishab@gmail.com </p>
				<p>Location: Great Falls, Montana</p>
				<p>LinkedIn: </p>
				<p id="img"><a href="https://www.linkedin.com/in/neishabrooks/"><img src="http://findicons.com/files/icons/2788/circle/512/linkedin.png" alt="Linkedin Logo" height="40px" width="40px"></a></p>
			</span>
		</header>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<footer>
			<span>
			</br>
			</br>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<p class="copyright">&copy; 2017 Quinneisha Brooks</p>
			</span>
		</footer>
	</body>
</html>