<html>
	<head>
		<meta charset="utf-8">
		<title>Quinneisha</title>
		<link rel="stylesheet" href="../css/education.css">
	</head>
	<body>
		<header>
				<h1 class="edName" >Quinneisha Brooks</h1>
				<hr align="center" width="50%" color="olive">
				<div class="navBar">
				<a href="../index.html">Home</a>
				<a href="#">Education</a>
				<a href="../components/About.html">About Me</a>
				<a href="../components/Contact.html">Contact</a>
				<a href="../components/Achievements.html">Achievements</a>
			</div>
			<br/>
			<br/>
			<br/>
				<div>
				<img class="graduate" src="../img/Capandgown.png" width="200" height="200" >
				</div>
				<span>
				<h2>E d u c a t i o n :</h2></br>
				<h3>University of Delaware</h3>
				<p>
				<ul id="list" >
					<li><b>Dates of Attendance:</b> August 27<sup>th</sup>, 2012 - May 28<sup>th</sup>, 2016</li></br>
					<li><b>Major: </b>Health Behavior Science</li></br>
					<li><b>Minor: </b>Spanish Language</li></br>
					<a class="diploma" href="../img/CollegeDiploma.png"><center>☞ Verified Electronic Diploma ☜</center></a>
					<li><b>Study Abroad: Granda, Spain: </b>Studied at the University of Granda for one month. Lived with a host family that spoke no </br>English and learned more about the Spanish culture, language, and traditions.</li></ul><br>
				</ul>
				</p>
				<h3>Montana Code School</h3>
				<p>
				<ul id="list" >
					<li><b>Dates of Attendance:</b> February 5<sup>th</sup>, 2017 - April 28<sup>th</sup>, 2017</li></br>
					<li><b>Description:</b> 12-week immersive program where skills are developed to become a junior, full-stack JavaScript web developer.
					<p><b>Aquired Skills:</b></p>
					<ul class="bullets">
						<li>JavaScript</li>
						<li>React</li>
						<li>React Native</li>
						<li>GitFlow</li>
						<li>MongoDB</li>
					</ul>
				</ul>
				</p>

			</span>
				
		</header>
		<br/>
		<br/>
		
		<footer>
			<span>
			</br>
			<p class="copyright" >&copy; 2017 Quinneisha Brooks</p>
			</span>
		</footer>
	</body>
</html>
