<html>
	<head>
		<meta charset="utf-8">
		 <link class="imgs" rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/royal-crowns/512/royal-alphabet-crown-letter-english-q-512.png">
		<title>Quinneisha</title>
		<link rel="stylesheet" href="../css/resume.css">
	</head>
	<body>
		<header>
				<h1 class="edName" >Quinneisha Brooks</h1>
				<hr align="center" width="50%" color="olive">
				<div class="navBar">
				<a href="../index.html">Home</a>
				<a href="Education.html">Education</a>
				<a href="About.html">About Me</a>
				<a href="Contact.html">Contact</a>
				<a href="Achievements.html">Achievements</a>
				<a href="#">Resume</a>
			</div>
			<br/>
			<br/>
			<br/>
				<div>
				<img class="resume" src="../img/Updated_Resume.jpg" width="650" height="800" >
				</div>
				<span>
				
			</span>	
		</header>
		<br/>
		<br/>
		<footer>
			<span>
			</br>
			<p class="copyright" >&copy; 2017 Quinneisha Brooks</p>
			</span>
		</footer>
	</body>
</html>
